openapi: 3.2.0
info:
  title: NASA Open APIs (Artemis-relevant subset) APOD API
  version: 1.0.0
  summary: Best-effort OpenAPI for selected NASA Open APIs at api.nasa.gov used in Artemis-related workflows.
  description: 'api.nasa.gov is NASA''s umbrella developer portal exposing a number of

    long-standing public REST APIs. This spec covers the most widely used,

    stable endpoints relevant to Artemis-era lunar and space-weather workflows:

    APOD, the NASA Image and Video Library search, NeoWs (Near Earth Objects),

    DONKI space weather notifications, and EPIC Earth imagery.


    Authentication is a single api_key query parameter. The shared

    DEMO_KEY is rate-limited to 30 requests/hour and 50 requests/day per IP;

    sign up at https://api.nasa.gov/ for a higher-volume personal key.


    This is a best-effort spec derived from public api.nasa.gov documentation.

    '
  contact:
    name: NASA Open APIs
    url: https://api.nasa.gov/
servers:
- url: https://api.nasa.gov
  description: api.nasa.gov gateway
- url: https://images-api.nasa.gov
  description: NASA Image and Video Library
security:
- NasaApiKey: []
tags:
- name: APOD
  description: Astronomy Picture of the Day
paths:
  /planetary/apod:
    get:
      tags:
      - APOD
      summary: Astronomy Picture of the Day
      operationId: getApod
      parameters:
      - in: query
        name: api_key
        required: true
        schema:
          type: string
          default: DEMO_KEY
      - in: query
        name: date
        schema:
          type: string
          format: date
        description: YYYY-MM-DD. Defaults to today.
      - in: query
        name: start_date
        schema:
          type: string
          format: date
      - in: query
        name: end_date
        schema:
          type: string
          format: date
      - in: query
        name: count
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - in: query
        name: thumbs
        schema:
          type: boolean
      - in: query
        name: hd
        schema:
          type: boolean
      responses:
        '200':
          description: APOD entry or array of entries.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/Apod'
                - type: array
                  items:
                    $ref: '#/components/schemas/Apod'
components:
  schemas:
    Apod:
      type: object
      properties:
        date:
          type: string
          format: date
        title:
          type: string
        explanation:
          type: string
        url:
          type: string
          format: uri
        hdurl:
          type: string
          format: uri
        media_type:
          type: string
          enum:
          - image
          - video
        service_version:
          type: string
        copyright:
          type: string
  securitySchemes:
    NasaApiKey:
      type: apiKey
      in: query
      name: api_key
      description: NASA api_key query parameter. Use DEMO_KEY for low-volume testing.
