openapi: 3.2.0
info:
  title: NASA Open APIs (Artemis-relevant subset) APOD EPIC API
  version: 1.0.0
  summary: Best-effort OpenAPI for selected NASA Open APIs at api.nasa.gov used in Artemis-related workflows.
  description: 'api.nasa.gov is NASA''s umbrella developer portal exposing a number of

    long-standing public REST APIs. This spec covers the most widely used,

    stable endpoints relevant to Artemis-era lunar and space-weather workflows:

    APOD, the NASA Image and Video Library search, NeoWs (Near Earth Objects),

    DONKI space weather notifications, and EPIC Earth imagery.


    Authentication is a single api_key query parameter. The shared

    DEMO_KEY is rate-limited to 30 requests/hour and 50 requests/day per IP;

    sign up at https://api.nasa.gov/ for a higher-volume personal key.


    This is a best-effort spec derived from public api.nasa.gov documentation.

    '
  contact:
    name: NASA Open APIs
    url: https://api.nasa.gov/
servers:
- url: https://api.nasa.gov
  description: api.nasa.gov gateway
- url: https://images-api.nasa.gov
  description: NASA Image and Video Library
security:
- NasaApiKey: []
tags:
- name: EPIC
  description: Earth Polychromatic Imaging Camera
paths:
  /EPIC/api/natural:
    get:
      tags:
      - EPIC
      summary: Most recent EPIC natural color image metadata
      operationId: getEpicNatural
      parameters:
      - in: query
        name: api_key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of EPIC image metadata records
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /EPIC/api/natural/date/{date}:
    get:
      tags:
      - EPIC
      summary: EPIC natural color image metadata for a date
      operationId: getEpicNaturalByDate
      parameters:
      - in: path
        name: date
        required: true
        schema:
          type: string
          format: date
      - in: query
        name: api_key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: EPIC image metadata for the day
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
components:
  securitySchemes:
    NasaApiKey:
      type: apiKey
      in: query
      name: api_key
      description: NASA api_key query parameter. Use DEMO_KEY for low-volume testing.
