openapi: 3.2.0
info:
  title: NASA Open APIs (Artemis-relevant subset) APOD Neo Ws API
  version: 1.0.0
  summary: Best-effort OpenAPI for selected NASA Open APIs at api.nasa.gov used in Artemis-related workflows.
  description: 'api.nasa.gov is NASA''s umbrella developer portal exposing a number of

    long-standing public REST APIs. This spec covers the most widely used,

    stable endpoints relevant to Artemis-era lunar and space-weather workflows:

    APOD, the NASA Image and Video Library search, NeoWs (Near Earth Objects),

    DONKI space weather notifications, and EPIC Earth imagery.


    Authentication is a single api_key query parameter. The shared

    DEMO_KEY is rate-limited to 30 requests/hour and 50 requests/day per IP;

    sign up at https://api.nasa.gov/ for a higher-volume personal key.


    This is a best-effort spec derived from public api.nasa.gov documentation.

    '
  contact:
    name: NASA Open APIs
    url: https://api.nasa.gov/
servers:
- url: https://api.nasa.gov
  description: api.nasa.gov gateway
- url: https://images-api.nasa.gov
  description: NASA Image and Video Library
security:
- NasaApiKey: []
tags:
- name: NeoWs
  description: Near Earth Object Web Service
paths:
  /neo/rest/v1/feed:
    get:
      tags:
      - NeoWs
      summary: Near Earth Objects within a date range
      operationId: getNeoFeed
      parameters:
      - in: query
        name: api_key
        required: true
        schema:
          type: string
      - in: query
        name: start_date
        schema:
          type: string
          format: date
      - in: query
        name: end_date
        schema:
          type: string
          format: date
      responses:
        '200':
          description: NEO feed
          content:
            application/json:
              schema:
                type: object
  /neo/rest/v1/neo/{asteroid_id}:
    get:
      tags:
      - NeoWs
      summary: Lookup a single asteroid by SPK-ID
      operationId: lookupNeo
      parameters:
      - in: path
        name: asteroid_id
        required: true
        schema:
          type: string
      - in: query
        name: api_key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Asteroid record
          content:
            application/json:
              schema:
                type: object
  /neo/rest/v1/neo/browse:
    get:
      tags:
      - NeoWs
      summary: Browse the overall NEO dataset
      operationId: browseNeo
      parameters:
      - in: query
        name: api_key
        required: true
        schema:
          type: string
      - in: query
        name: page
        schema:
          type: integer
      - in: query
        name: size
        schema:
          type: integer
      responses:
        '200':
          description: Paged NEO list
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    NasaApiKey:
      type: apiKey
      in: query
      name: api_key
      description: NASA api_key query parameter. Use DEMO_KEY for low-volume testing.
