openapi: 3.2.0
info:
  version: 3.4.0
  title: TechPort Projects{.format} API
  description: TechPort RESTful API
  contact:
    name: TechPort Team
    email: hq-techport@mail.nasa.gov
    url: https://techport.nasa.gov
servers:
- url: http://techport.nasa.gov/api
- url: https://techport.nasa.gov/api
tags:
- name: Projects{.format}
paths:
  /api/projects{.format}:
    get:
      description: Returns a list of available technology project IDs.
      parameters:
      - name: updatedSince
        in: query
        description: ISO 8601 full-date in the format YYYY-MM-DD. Filters the list of available ID values by their lastUpdated parameter.
        required: true
        schema:
          type: string
          format: date
      - name: format
        in: path
        description: The response type desired.
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      responses:
        '200':
          description: Successful response
          content:
            application/xml:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                  lastUpdated:
                    type: string
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                  lastUpdated:
                    type: string
        default:
          description: Object not found.
      tags:
      - Projects{.format}
      summary: Get api projects{ format}
      x-summary-source: derived
      operationId: getApiProjects{Format}
      x-operation-id-source: derived
