openapi: 3.2.0
info:
  description: This endpoint structures the APOD imagery and associated metadata so that it can be repurposed for other applications. In addition, if the concept_tags parameter is set to True, then keywords derived from the image explanation are returned. These keywords could be used as auto-generated hashtags for twitter or instagram feeds; but generally help with discoverability of relevant imagery
  version: 1.0.0
  title: APOD request tag API
  termsOfService: ''
  contact:
    email: evan.t.yates@nasa.gov
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.nasa.gov/planetary
- url: http://api.nasa.gov/planetary
tags:
- name: request tag
  description: An example tag
  externalDocs:
    description: Here's a link
    url: https://example.com
paths:
  /apod:
    get:
      tags:
      - request tag
      summary: Returns images
      descriptions: Returns the picture of the day
      security:
      - api_key: []
      parameters:
      - name: date
        in: query
        description: The date of the APOD image to retrieve
        required: false
        schema:
          type: string
      - name: hd
        in: query
        description: Retrieve the URL for the high resolution image
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  thing: ok
        '400':
          description: Date must be between Jun 16, 1995 and Mar 28, 2019.
      operationId: getApod
      x-operation-id-source: derived
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: query
