openapi: 3.1.0
info:
  title: NASA Open APIs (Artemis-relevant subset)
  version: "1.0.0"
  summary: Best-effort OpenAPI for selected NASA Open APIs at api.nasa.gov used in Artemis-related workflows.
  description: |
    api.nasa.gov is NASA's umbrella developer portal exposing a number of
    long-standing public REST APIs. This spec covers the most widely used,
    stable endpoints relevant to Artemis-era lunar and space-weather workflows:
    APOD, the NASA Image and Video Library search, NeoWs (Near Earth Objects),
    DONKI space weather notifications, and EPIC Earth imagery.

    Authentication is a single api_key query parameter. The shared
    DEMO_KEY is rate-limited to 30 requests/hour and 50 requests/day per IP;
    sign up at https://api.nasa.gov/ for a higher-volume personal key.

    This is a best-effort spec derived from public api.nasa.gov documentation.
  contact:
    name: NASA Open APIs
    url: https://api.nasa.gov/
servers:
  - url: https://api.nasa.gov
    description: api.nasa.gov gateway
  - url: https://images-api.nasa.gov
    description: NASA Image and Video Library
tags:
  - name: APOD
    description: Astronomy Picture of the Day
  - name: NeoWs
    description: Near Earth Object Web Service
  - name: DONKI
    description: Space Weather Database Of Notifications, Knowledge, Information
  - name: EPIC
    description: Earth Polychromatic Imaging Camera
  - name: Images
    description: NASA Image and Video Library
paths:
  /planetary/apod:
    get:
      tags:
        - APOD
      summary: Astronomy Picture of the Day
      operationId: getApod
      parameters:
        - in: query
          name: api_key
          required: true
          schema:
            type: string
            default: DEMO_KEY
        - in: query
          name: date
          schema:
            type: string
            format: date
          description: YYYY-MM-DD. Defaults to today.
        - in: query
          name: start_date
          schema:
            type: string
            format: date
        - in: query
          name: end_date
          schema:
            type: string
            format: date
        - in: query
          name: count
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - in: query
          name: thumbs
          schema:
            type: boolean
        - in: query
          name: hd
          schema:
            type: boolean
      responses:
        "200":
          description: APOD entry or array of entries.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Apod'
                  - type: array
                    items:
                      $ref: '#/components/schemas/Apod'
  /neo/rest/v1/feed:
    get:
      tags:
        - NeoWs
      summary: Near Earth Objects within a date range
      operationId: getNeoFeed
      parameters:
        - in: query
          name: api_key
          required: true
          schema:
            type: string
        - in: query
          name: start_date
          schema:
            type: string
            format: date
        - in: query
          name: end_date
          schema:
            type: string
            format: date
      responses:
        "200":
          description: NEO feed
          content:
            application/json:
              schema:
                type: object
  /neo/rest/v1/neo/{asteroid_id}:
    get:
      tags:
        - NeoWs
      summary: Lookup a single asteroid by SPK-ID
      operationId: lookupNeo
      parameters:
        - in: path
          name: asteroid_id
          required: true
          schema:
            type: string
        - in: query
          name: api_key
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Asteroid record
          content:
            application/json:
              schema:
                type: object
  /neo/rest/v1/neo/browse:
    get:
      tags:
        - NeoWs
      summary: Browse the overall NEO dataset
      operationId: browseNeo
      parameters:
        - in: query
          name: api_key
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: size
          schema:
            type: integer
      responses:
        "200":
          description: Paged NEO list
          content:
            application/json:
              schema:
                type: object
  /DONKI/notifications:
    get:
      tags:
        - DONKI
      summary: Space weather notifications
      operationId: getDonkiNotifications
      parameters:
        - in: query
          name: api_key
          required: true
          schema:
            type: string
        - in: query
          name: startDate
          schema:
            type: string
            format: date
        - in: query
          name: endDate
          schema:
            type: string
            format: date
        - in: query
          name: type
          schema:
            type: string
            enum:
              - all
              - FLR
              - SEP
              - CME
              - IPS
              - MPC
              - GST
              - RBE
              - report
      responses:
        "200":
          description: DONKI notifications
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /EPIC/api/natural:
    get:
      tags:
        - EPIC
      summary: Most recent EPIC natural color image metadata
      operationId: getEpicNatural
      parameters:
        - in: query
          name: api_key
          required: true
          schema:
            type: string
      responses:
        "200":
          description: List of EPIC image metadata records
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /EPIC/api/natural/date/{date}:
    get:
      tags:
        - EPIC
      summary: EPIC natural color image metadata for a date
      operationId: getEpicNaturalByDate
      parameters:
        - in: path
          name: date
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: api_key
          required: true
          schema:
            type: string
      responses:
        "200":
          description: EPIC image metadata for the day
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /search:
    servers:
      - url: https://images-api.nasa.gov
    get:
      tags:
        - Images
      summary: Search the NASA Image and Video Library
      operationId: searchImages
      parameters:
        - in: query
          name: q
          schema:
            type: string
        - in: query
          name: media_type
          schema:
            type: string
            enum:
              - image
              - video
              - audio
        - in: query
          name: year_start
          schema:
            type: string
        - in: query
          name: year_end
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: page_size
          schema:
            type: integer
      responses:
        "200":
          description: Library search results (collection envelope)
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    Apod:
      type: object
      properties:
        date:
          type: string
          format: date
        title:
          type: string
        explanation:
          type: string
        url:
          type: string
          format: uri
        hdurl:
          type: string
          format: uri
        media_type:
          type: string
          enum:
            - image
            - video
        service_version:
          type: string
        copyright:
          type: string
  securitySchemes:
    NasaApiKey:
      type: apiKey
      in: query
      name: api_key
      description: NASA api_key query parameter. Use DEMO_KEY for low-volume testing.
security:
  - NasaApiKey: []
